.article_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.heading_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
}

.heading_group span {
  color: #808080;
}

.heading_link {
  transition: all 0.3s ease;
}

.heading_link:hover {
  color: inherit;
}

.heading_title {
  font-family: BasementGrotesque, sans-serif;
  padding-bottom: 18px;
  font-size: 3rem;
}

.heading_desc {
  font-size: 1.2rem;
  color: #808080;
  text-align: justify;
}

.article_image {
  width: 100%;
  height: 300px;
  position: relative;
}

.article_image img {
  transition: all 0.5s;
  filter: grayscale(95%) contrast(80%);
  object-position: center;
}

.article_content {
  margin: 2rem 0;
}

.content_paragraph {
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: justify;
}

.handler_group {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #292c30;
  display: flex;
  justify-content: flex-end;
}

.handler_button {
  background: none;
  border: none;
  font-family: Aileron, sans-serif;
  font-weight: 400;
  color: #292c30;
  margin-left: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.handler_button > svg {
  font-size: 1rem;
  margin-right: 5px;
}

.handler_button:first-child > svg {
  color: #004b70;
}
.handler_button:last-child > svg {
  color: #570000;
}

.handler_button:hover {
  opacity: 0.75;
}
