.home {
  /* padding-top: 2rem; */
  transition: all 0.3s ease;
}

.home_grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid_item {
  position: relative;
  border-radius: 5px;
}
