/* GRID ITEM */
.item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item:hover .item_link {
  opacity: 1;
}

.item:hover .desc_box_title {
  opacity: 0.75;
}

.item:hover .item_image img,
.list:hover .list_image img {
  transform: scale(1.015);
  filter: unset;
}

.item_image {
  position: relative;
  width: 100%;
  height: 400px;
}

.item_image img,
.list_image img {
  transition: all 0.5s;
  filter: grayscale(95%) contrast(80%);
}

.item_desc_box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  min-height: 180px;
}

.desc_box_title {
  font-size: 1.1rem;
  margin: 9px 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.5;
  transition: opacity 0.3s ease;
}

.desc_box_subtitle {
  color: #808080;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item_link {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
}

.item_link > svg {
  margin-left: 5px;
  width: 22px;
  height: 22px;
}

/* LIST ITEM */

.list {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #808080;
}

.list_image {
  min-width: 150px;
  height: 150px;
  position: relative;
}

.list_text {
  margin: 0 1rem;
  flex-grow: 1;
}

.list_text_title {
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.list_text_title:hover {
  text-decoration: underline;
  opacity: 0.85;
}

.list_buttons {
  display: flex;
  flex-direction: column;
}
