.nav {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-right: 70px;
  padding-left: 1.5rem;
}

.nav_inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: inherit;
}

.nav_logo {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.logo {
  font-family: BasementGrotesque, sans-serif;
}

.nav_links {
  display: flex;
  flex-direction: column;
}

.nav_item {
  margin-bottom: 8px;
  font-weight: 600;
}

.nav_item > * {
  cursor: pointer;
}
.nav_item:hover,
.logo:hover {
  opacity: 0.75;
  transition: opacity 0.3s ease;
}

.nav_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #292c30;
  font-family: Aileron, sans-serif;
}

.version {
  display: flex;
  align-items: center;
  margin-top: calc(2rem - 8px);
}
.version:hover {
  opacity: 0.75;
}
.version > svg {
  font-size: 1.3rem;
}
.version > span {
  font-size: 0.8rem;
  margin-left: 5px;
}
